.sessionTile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 1.2rem;
    background-color: #f2f2f2;
    &:hover {
        background-color: #d7cfcf;
    }
    &__intro {
        &__name {
            font-family: "Poppins", sans-serif;
            font-size: 1.8rem;
            font-weight: 600;
            color: #373535;
        }
        &__description {
            font-family: "Poppins", sans-serif;
            font-size: 1.8rem;
            font-weight: 400;
            color: rgba(55, 53, 53, 0.8);
        }
    }
    &__date {
        font-family: "Poppins", sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        color: #373535;
    }
}
