.auth-button {
    width: 100%;
    background-color: #c57a5c;
    border: none;
    border-radius: 0.8rem;
    padding: 1.5rem 2.4rem;
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.25;
    letter-spacing: 0.02rem;
}
