@import './Icons/style.scss';
:root {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 10px;

  color-scheme: light dark;
  color: #373535;
  background-color: #242424;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}